:root{
    --color1:#F9B597;
    --color2:#F1C598;
    --color3:#FDF0BB;
    --color4:#B5E1AD;
    --color5:#B9F2E0;
    --color6:#dcfad7;

}
*{
    box-sizing: border-box;
}

body{
    background-color: var(--color4);
    height:100vh;
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    
}
header{
    width:100%;
    height:10%;
    background-color: var(color4);
}
#main{
    height:90%;
    display:flex;
    gap:10px;
    padding:20px;
    
}
#sidebar{
    width:300px;
    display:flex;
    flex-direction: column;
}
#content{
   flex:1;
}
#sidebar,#content{
    background-color: var(--color6);
    border-radius:30px;
    height:100%;
    padding:10px;
    
}
.sb-element{
    width:100%;
    height:30px;
    background-color:white;
    border-radius: 10px;
    margin-top:15px;
}
