:root{
    --color1:#F9B597;
    --color2:#F1C598;
    --color3:#FDF0BB;
    --color4:#B5E1AD;
    --color5:#B9F2E0;
    --color6:#dcfad7;

}
*{
    box-sizing: border-box;
}

body{
    background-color: var(--color4);
    height:100vh;
    display:flex;
    flex-direction: column;
    margin:0;
    padding:0;
    
}
header{
    width:100%;
    height:10%;
    background-color: var(color4);
}
#main{
    height:90%;
    display:flex;
    gap:10px;
    padding:20px;
    
}
#sidebar{
    position:relative;
    width:300px;
    display:flex;
    flex-direction: column;
}
#content{
   flex:1;
   display:flex;
   flex-direction: column;
   padding:20px;
}
#sidebar,#content{
    background-color: var(--color6);
    border-radius:30px;
    height:100%;
    padding:10px;   
}
#summary{
    text-align: center;
    padding:0;
    margin-top:20px;
    margin-bottom: 0;
}

.sb-element{
    width:100%;
    height:30px;
    background-color:white;
    border-radius: 10px;
    margin-top:15px;
    display:flex;
    align-items: center;
    padding-left:10px;
    gap:10px;
}
#create-todo{
   position:absolute;
   background-image: url(/src/img/add-icon.svg);
   background-repeat: no-repeat;
   background-size: contain;
   height:50px;
   width:50px;
   bottom:5%;
   right:5%;
   background-color: var(--color1);
   border:1px solid white;
   border-radius:10px;
}
#create-todo:hover, #create-task-btn:hover{
    background-color:#fa8c5d;
    cursor: pointer;
}
#create-todo:active, #create-task-btn:active{
    background-color: #B5E1AD;
}
#task-form,#project-form{
    display:flex;
    flex-direction: column;
    width:200px;
    height:fit-content;
    background-color: var(--color3);
    padding:10px;
    align-self: center;
    margin-top:50px;
    border-radius:10px;
    border:2px solid var(--color1);
    
   
}
#task-description{
    height:100px;
    resize:none;
    
}
#task-form label,#project-form label{
    margin-top:10px;
}
#create-task-btn, #create-project-btn{
    margin-top:10px;
    height:30px;
    background-color:#fa8c5d;
    text-transform: uppercase;
    font-weight: bold;
    color:white;
    border:white;
}
#new-task-btn,#new-project-btn{
   margin-bottom:10px;

}

.task-div{
    display:flex;
    align-items: center;
    height: 50px;
    width:100%;
    background-color: var(--color5);
    border-radius:10px;
    margin-top:10px;
    padding:20px;
    
}

.show-title,.show-date,.show-priority{
    flex:1;
}
.show-priority{
    display:flex;
    gap:5px;
}
.priority-color{
    border-radius: 100%;
    background-color: red;
    height:15px;
    width:15px;
}
.modify-btns{
    display:flex;
    gap:10px; 
}
.arrow-down-icon,.arrow-up-icon{
    margin-right:5px;
}
.arrow-down-icon:hover,#arrow-up-icon:hover{
    cursor:pointer;
}
.delete-btn:hover,.edit-btn:hover,.complete-btn:hover{
    cursor:pointer;
}
.task-description{
    height:fit-content;
    padding:5px 5px 5px 20px;
    margin:0;
}
.task-description p{
    margin:0;
    padding:0;
}
